@import "tailwindcss";

@theme {
  --color-primary: #0284c7;
  --color-primary-hover: #0369a1;
  --color-primary-light: #38bdf8;
  --color-primary-dark: #075985;
  
  --color-secondary: #64748b;
  --color-secondary-hover: #475569;
  
  --color-danger: #ef4444;
  --color-danger-hover: #dc2626;
  
  --color-background-primary: #1e293b;
  --color-background-secondary: #334155;
  --color-background-card: #0f172a;
}